.ManagerBookDetails {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  flex-basis: 300px;
  height: 500px;
  margin-right: 20px;
}

.formContainer {
  flex-basis: calc(100% - 220px);
  padding-left: 20px;
  max-width: calc(100% - 400px);
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="button"] {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.bookImage {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  max-width: 300px; /* adjust this value to your desired maximum width */
  max-height: 400px; /* adjust this value to your desired maximum height */
  object-fit: cover;
}

