.NavigationBar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  li {
    margin-right: 20px;
  }

  .navLink {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #ccc;
    }
  }
}