.filter-form {
    max-width: 300px;
    margin: auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.filter-group label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-group input[type="number"],
.filter-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-group input[type="checkbox"] {
    margin-right: 10px;
}