.bookCatalogContainer {
  display: flex;
  flex-direction: column;
}

.bookCatalogInnerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.bookListContainer {
  flex-basis: 70%;
  overflow-y: auto;
}

.paginationBarContainer {
  width: 100%; /* take full width */
  margin-top: 20px;
}